<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Header_Footer_Scripts" frontName="Header_Footer_Scripts">
            <module name="Luffy_HeaderFooterScripts"/>
        </route>
    </router>
</config>
